.row.defailt_padding
  .col-md-12
    %h4 You are currently the guest user. You can request any company admin to add you to the company if you would like to be a full user (via personal off-the-system contacting). You can also start your own company and be its admin to manage your transactions and users.
.row.defailt_padding
  .col-md-12    
    = render "welcome/profiles/user"
