- @body_class = "features"
- content_for :title do
  Features


.introduction
  
  .container

    %h1
      Features
  
    %p Features
  
  
.features

  .container
      
    .feature
      
      .row
        
        .col-md-6
          
          .screenshot
            %img{src: image_path("marketing/screenshot-1.jpg"), width: "100%"}
        
        .col-md-5.col-md-offset-1
          
          %h2
            Heading
          
          %p
            Text.
          
          %ul
            %li
              Item.
            %li
              Item.
            %li
              Item.

