.row
  .col-md-12
    %h1 Edit Contact

.row.defailt_padding.create_contact_well
  .col-md-12
    .well
      = form_for @contact, :url => contact_url(@contact.id), :method => :put do |f|
        = render "form", :f => f