= form_for @checklist = Checklist.new(), :url => transaction_checklists_path(transaction), :remote => true, :html => {:class => "form-inline"} do |f|
  = collection_select(:checklist, :checklist_master_id, @global_company.checklist_masters, :id, :name, {:prompt => 'Please select checklist'}, {:class => "form-control", :style => "width: 200px"})  
  = f.submit("Add", :class => "btn btn-small btn-info")
  = edit_button "share-alt", "Cancel", "small", "add_an_checklist"