%p 
  We have heard that you forgot your password to our system. If so, please
  = link_to "click this link", edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)  
  to retrieve it.
%p
  = "- piratetesternow.com Team"

