%h4.heading Recent Activity
%ul
  - %w{Mitchell Bryan Steve Alison Isabella}.each do |c|
    %li= "#{c} on #{Time.now.strftime('%b %d, %Y')}"

%h4.heading Contacts
%ul
  - %w{Mitchell Bryan Steve Alison Isabella}.each do |c|
    %li= c
